@charset "UTF-8";

/* ==========================================
   Foundation
========================================== */

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #60490F;
    line-height: 1.7;
    font-size: 18px;
    background-color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ==========================================
   Layout
========================================== */

.inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ==========================================
   Component
========================================== */

.btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #C2411F;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
}

.btn:hover:hover {
    opacity: 0.8;
}

/* ==========================================
   Header
========================================== */

.header {
    background-image: url("../img/Mainevisual.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 748px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.header-logo {
    text-align: center;
    margin-top: 19px;
}

.header-logo img {
    max-width: 220px;
}

.mv-content {
    padding-bottom: 60px;
}

.mv-title {
    color: #ffffff;
    font-size: 4.875rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
    margin: 82px auto 153px 111px;
}

.mv-buttons {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.mv-buttons .btn {
    width: 300px;

    text-align: center;
}

/* ==========================================
   Nav
========================================== */

.nav {
    background-color: #F5ECD5;
}

.nav-list {
    display: flex;
}

.nav-item {
    flex: 1;
    text-align: center;
}

.nav-item a {
    display: block;
    padding: 15px 0;
    font-weight: bold;
}

.nav-item a:hover {
    opacity: 0.7;
}

.nav li {
    border-left: #d3c7a6 1px solid;
}

.nav li:last-child {
    border-right: #d3c7a6 1px solid;
}

/* ==========================================
   section 共通
========================================== */

.section-1,
.section-2,
.section-3 {
    padding: 100px 30px;
}

.section-2 {
    background-color: #f8f9fa;
}

h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
}

/* ==========================================
   section-1
========================================== */

.section-1 .content {
    display: flex;
    gap: 30px;
    align-items: center;
}

.section-1 .content-img {
    width: 50%;
}

.section-1 .content-text {
    width: 50%;
}

.section-1 .icon-list {
    display: flex;
    gap: 30px;
    padding-bottom: 30px;
}

.section-1 .icon-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5ECD5;
    border-radius: 50%;
    width: clamp(80px,12vw,150px);
    height: auto;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    

}

.section-1 .icon-list img {
    max-width: 90%;
    width: 59px;
    height: auto;

}

.section-1 .content-text p {
    line-height: 1.7;
}